blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
Flask==3.0.1
Flask-DebugToolbar==0.14.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.4
packaging==23.2
Pygments @ file:///private/tmp/pygments-20231121-5079-e7uuzt/pygments-2.17.2
requests==2.31.0
six==1.16.0
urllib3==2.0.6
Werkzeug==3.0.1
